.contactMeContainer .wrapper{
    padding: 10px ;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* border: 2px solid;  */
}




.contactMeContainer form{
    padding: 10px;


    /* border: 2px solid red;  */
}

.contactMeContainer form img{
 
    width: 350px;

}

.submitBtn{
    padding: 0 20px;
    cursor: pointer;
    background-color: #5b43d6;
    color: white;
}
.contactMeContainer form input  , .contactMeContainer form textarea    {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 0 20px;
    transition: all 0.3s ease;
    height: 50px;
    line-height: 28px;
    margin: 0 20px 20px 20px;
    font-size: 15px;
    letter-spacing: 0.1px;
   
}

.contactMeContainer form  .submitBtn{
    padding: 0 50px;
    cursor: pointer;
    background-color: #5b43d6;
    color: white;
}
.contactMeContainer form  .submitBtn:hover{
    background-color: white;
    color: #5b43d6;
    border: 2px solid #5b43d6;
}

.contactMeContainer form textarea{
    display: block;
}


@media screen and (max-width : 768px ) {
    .contactMeContainer form input  , .contactMeContainer form textarea{
        width: 98%;
    }
    .contactMeContainer .wrapper img{
       display: none;
       border: 2px solid red;
    }
}